name: Test_workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened

jobs:
  test:
    runs-on: ubuntu-latest
    container: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v6
      -
        name: build
        run: uv build
      -
        name: mkdir
        run: mkdir ../test-sympydantic
      - 
        name: init project
        run: uv init
        working-directory: ../test-sympydantic
      -
        name: install sympydantic
        run:  uv add ../sympydantic/
        working-directory: ../test-sympydantic
      -
        name: check install
        run: uv run python -m sympydantic
        working-directory: ../test-sympydantic
      -
        name: install other packages
        run: uv add numpy pytest
        working-directory: ../test-sympydantic
      -
        name: cp test file
        run: cp -r ./test ../test-sympydantic
      -
        name: run tests
        run: uv run pytest
        working-directory: ../test-sympydantic
      


    


